# Ignorar archivos CSV de entrenamiento
data/*.csv

# Ignorar archivos del modelo entrenado
trained_model.pkl

# Archivos y carpetas de entorno de Python
__pycache__/
*.pyc

# Archivos de configuración de entorno virtual extras
.env
.venv
env/
venv/
ENV/
processed_train.csv
